/*這是一個註解*/


* {
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(165, 118, 76, 0.5);
}

body {
    padding: 0;
    margin: 0;
    font-family: Microsoft JhengHei, Noto Sans TC, PingFang TC, Apple LiGothic Medium, Roboto, Lucida Grande, Lucida Sans Unicode, sans-serif;
    background-color: #f2f2f2;
}

h1.title {
    display: block;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.35;
    color: black;
}

span {
    display: inline;
}

h2.subtitle {
    font-size: 20px;
    line-height: 1.35;
    color: #404040;
}

h3 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
}

.text-block {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
}


figure.hero-image {
    width: 100%;
    max-width: 1440px;
}

.horizontal-center {
    margin: 0 auto;
}

.intro {
    font-size: 22px;
    line-height: 2.5;
    color: #494949;
    margin-top: 45px;
}


Î .intro-line {
    border-color: #c71B0a;
    width: 158px;
    border-width: 1px 0 0 0;
    border-style: solid;
    margin: 40px auto;
}

.paragraph {
    color: #494949;
    line-height: 2;
    font-size: 18px;
    margin-top: 30px;
}

figure {
    margin: 60px auto;
    width: 100%;
    max-width: 1080px;
}

figure.half {
    display: inline-block;
    width: 48%;
}

figcaption {
    color: #404040;
    font-size: 16px;
    margin-top: 15px;
}


.multimedia-block {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}


.align-right {
    width: 450px;
    float: right;
    margin-top: 40px;
    margin-left: 40px;
}

@media all and (max-width: 768px) {
    h1.title {
        font-size: 28px;
        width: 95%;
    }

    h2.subtitle {
        font-size: 20px;
        width: 95%;
    }

    h3 {
        font-size: 20px;
    }

    .text-block {
        width: 95%;
    }

    .intro {
        font-size: 20px;
        width: 95%;
    }

    .paragraph {
        font-size: 16px;
        width: 95%;
    }

    figcaption {
        font-size: 14px;
        width: 95%;
        margin: 15px auto 0 auto;
    }

    figure {
        width: 100%;
    }

    figure.half {
        display: block;
        width: 100%;
    }

    .align-right {
        width: 100%;
        float: none;
        margin-left: 0px;
    }

    .multimedia-block {
        width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .align-right {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .multimedia-block {
        width: 100%;
    }

    figure.half {
        display: block;
        width: 100%;
    }
}

.related-block {
    border-top: 0.5px solid #404040;
    width: 90%;
    max-width: 1440px;
    margin: 60px auto;
}

.related-text {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.card-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-img {
    width: 100%;
    margin: 0;
}

.card {
    background-color: #fff;
    width: 410px;
    padding: 20px 12px 25px 12px;
    margin-right: 40px;
    margin-bottom: 76px;
}


.card-title {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.card-desc {
    margin-top: 35px;
    color: #808080;
    font-size: 20px;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .card {
        width: 95%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .card-title {
        font-size: 20px;
    }

    .card-desc {
        font-size: 16px;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    min-height: 100px;
}

@keyframes logo-shake {
    0% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1px);
    }
}

img.logo {
    margin-left: 50px;
    animation-name: logo-shake;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-grow: 1;
}

nav>ul>li {
    padding: 15px;
}

a:hover {
    color: rgb(208, 5, 26);
    border-bottom: 1px solid rgb(208, 5, 26);
    transform: translateX(5px);
    transition: transform .1s linear;
}

a {
    text-decoration: none;
}

a:visited,
a:active {
    color: black;
    text-decoration: none;
}

.video-block {
    position: relative;
    padding-bottom: 62%;
}

.video-block>video {
    position: absolute;
    width: 100%;
    height: 100%;
}

video:focus {
    outline: none;

}
